<div class="hero-image border-bottom">




  <div class="card" style="width: 30em;">
    <div class="card-body bg-warning">
  
  
      <div class="card-body">
        <div class="h4 mt-0 title">Sample Work</div>
        <div class="row">
          <div class="col-sm-4">
            <strong class="text-uppercase">xxxxxxxxxx</strong>
          </div>
          <div class="col-sm-8">xxxxxxxxxxxxx</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4">
            <strong class="text-uppercase">xxxxxxxxxxx</strong>
          </div>
          <div class="col-sm-8">xxxxxxxxxxxx/div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4">
            <strong class="text-uppercase">xxxxxxxxxxxx</strong>
          </div>
          <div class="col-sm-8">+91 000000000</div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4">
            <strong class="text-uppercase">xxxxxxxxxxx</strong>
          </div>
          <div class="col-sm-8">xxxxxxxxxxx
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-4">
            <strong class="text-uppercase">xxxxxxxxxxxxx</strong>
          </div>
          <div class="col-sm-8"> xxxxxxxxxx</div>
      
      
    </div>
  </div>
  </div>
  </div>
    
</div>