<!-- landing page start -->
<div class="hero-image border-bottom">
    <div class="hero-text">
      <h1 style="font-size:50px"> PORTFOLIO</h1>
        <h3> Full stack developer</h3>
        <br>
        <button class="btn btn-info btn-hire">Hire me</button>
    </div>
</div>
<!-- landing page end -->
<!-- service -->
<div>
  <h2>SERVICES</h2>


<div class="m-4">
  <div class="card-group">
      <div class="card">
        <img src="../../assets/images/s1.webp" class="card-img-top" alt="..."> 
          <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">Business runs on information. The faster it’s received and the more accurate it is, the better. 
                Blockchain is ideal for delivering that information because it provides immediate, 
                shared and completely transparent information stored on an immutable ledger that can be accessed only 
                by permissioned network members.</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">Last updated 5 mins ago</small>
          </div>
      </div>
      
      <div class="card">
           <img src="../../assets/images/s2.jpg" class="card-img-top" alt="..."> 
          <div class="card-body">
              <h5 class="card-title">Digital Marketing</h5>
              <p class="card-text">Business runs on information. The faster it’s received and the more accurate it is, the better. 
                Blockchain is ideal for delivering that information because it provides immediate, 
                shared and completely transparent information stored on an immutable ledger that can be accessed only 
                by permissioned network members..</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">Last updated 5 mins ago</small>
          </div>
      </div>

      <div class="card">
           <img src="../../assets/images/s3.jpg" class="card-img-top" alt="..."> 
          <div class="card-body">
              <h5 class="card-title">Blockchain</h5>
              <p class="card-text">Business runs on information. The faster it’s received and the more accurate it is, the better. 
                Blockchain is ideal for delivering that information because it provides immediate, 
                shared and completely transparent information stored on an immutable ledger that can be accessed only 
                by permissioned network members.</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">Last updated 5 mins ago</small>
          </div>
      </div>
  </div>
</div>

</div>
<!-- Testimonial -->
<div class="testimonials border-bottom text-white py-5">
  <h1>Testimonials</h1>
  <!-- <h5>Nice Things People Have Said</h5> -->
  <br>
<!-- carousel start -->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      
      <div class="container">
          <div class="container testimonial-inner">
              <div class="row d-flex justify-content-center">
                  <div class="col-md-8 style-3">
                      <div class="tour-item ">
                          <div class="tour-desc bg-white">
                              <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.&rdquo;</div>
                              <div class="d-flex justify-content-center pt-5 pb-2">
                                  <img class="tm-people" src="../../assets/images/f1.jpg" alt=""></div>
                              <div class="link-name d-flex justify-content-center">Paula Wilson</div>
                              <div class="link-position d-flex justify-content-center">Media Analyst</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">

      <div class="container">
          <div class="container testimonial-inner">
              <div class="row d-flex justify-content-center">
                  <div class="col-md-8 style-3">
                      <div class="tour-item ">
                          <div class="tour-desc bg-white">
                              <div class="tour-text color-grey-3 text-center">&ldquo;Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.&rdquo;</div>
                              <div class="d-flex justify-content-center pt-5 pb-2">
                                  <img class="tm-people" src="../../assets/images/f2.jpg" alt=""></div>
                              <div class="link-name d-flex justify-content-center">Antonio Moreno</div>
                              <div class="link-position d-flex justify-content-center">Web Developer</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">

      <div class="container">
          <div class="container testimonial-inner">
              <div class="row d-flex justify-content-center">
                  <div class="col-md-8 style-3">
                      <div class="tour-item ">
                          <div class="tour-desc bg-white">
                              <div class="tour-text color-grey-3 text-center">&ldquo;Vest natus enim nihil est dolore omnis voluptatem numquam net omnis occaecati quod ullam at nvoluptatem error expedita pariatur nihil sint nostrum voluptatem reiciendis et.&rdquo;</div>
                              <div class="d-flex justify-content-center pt-5 pb-2">
                                  <img class="tm-people" src="../../assets/images/f3.jpg" alt=""></div>
                              <div class="link-name d-flex justify-content-center">Michael Holz</div>
                              <div class="link-position d-flex justify-content-center">Holistic Nutritionist</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">

      <div class="container">
          <div class="container testimonial-inner">
              <div class="row d-flex justify-content-center">
                  <div class="col-md-8 style-3">
                      <div class="tour-item ">
                          <div class="tour-desc bg-white">
                              <div class="tour-text color-grey-3 text-center">&ldquo;Quia molestiae reprehenderit quasi aspernatur naut expedita occaecati aliquam eveniet laudantium nomnis saepe quia accusamus maiores nam est ncum et ducimus et vero voluptates excepturi deleniti ratione.&rdquo;</div>
                              <div class="d-flex justify-content-center pt-5 pb-2">
                                  <img class="tm-people" src="../../assets/images/f4.jpg" alt=""></div>
                              <div class="link-name d-flex justify-content-center">Cristiana</div>
                              <div class="link-position d-flex justify-content-center">Lawyer</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">   

      <div class="container">
          <div class="container testimonial-inner">
              <div class="row d-flex justify-content-center">
                  <div class="col-md-8 style-3">
                      <div class="tour-item ">
                          <div class="tour-desc bg-white">
                              <div class="tour-text color-grey-3 text-center">&ldquo;Harum non quasi et ratione ntempore iure ex voluptates in ratione nharum architecto fugit inventore cupiditate nvoluptates magni quo et.&rdquo;</div>
                              <div class="d-flex justify-content-center pt-5 pb-2">
                                  <img class="tm-people" src="../../assets/images/f1.jpg" alt=""></div>
                              <div class="link-name d-flex justify-content-center">SuSein</div>
                              <div class="link-position d-flex justify-content-center">Family & Workplace Mediator</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
      
    <div class="carousel-item">

      <div class="container">
          <div class="container testimonial-inner">
              <div class="row d-flex justify-content-center">
                  <div class="col-md-8 style-3">
                      <div class="tour-item ">
                          <div class="tour-desc bg-white">
                              <div class="tour-text color-grey-3 text-center">&ldquo;Amaiores sed dolores similique labore et inventore et nquasi temporibus esse sunt id et neos voluptatem aliquam naliquid ratione corporis molestiae mollitia quia et magnam dolor.&rdquo;</div>
                              <div class="d-flex justify-content-center pt-5 pb-2">
                                  <img class="tm-people" src="../../assets/images/f3.jpg" alt=""></div>
                              <div class="link-name d-flex justify-content-center">Catherin</div>
                              <div class="link-position d-flex justify-content-center">Digital Marketing</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- carousel end -->

</div>