/* .row p{
    font-weight: 700px;
    color:black;
    
}
.card-body ul{
    padding-left: 20px;
}

li{
    padding-top: 5px;
    
  }
  .section{
    margin-top: 100px;
  } */
  .card{
    margin-top: 50px;
    margin-left: 500px;
}
.hero-image {
  background-image: url("../../../image/port1.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0px;

}