/* .row p{
    font-weight: 700px;
    color:black;
    
}
.card-body ul{
    padding-left: 20px;
}

li{
    padding-top: 5px;
    
  }
  .section{
    margin-top: 100px;
  } */
  .card{
    margin-top: 150px;
    margin-left: 500px;
}