You can add global styles to this file, and also import other style files

.img{
    width: 100%;
    height: 25%;
    
    
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    
}
.button{
    border: 3px;
    background-color:olive;
    margin-top: 300px;
    margin-left: 450px;
    border-radius: 3px;
}
